.mainBox {
    width: 300px;
    margin: 0 auto;
}

.loginBox {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}
h3{
    text-align: center;
    color: #ff2d23;
}

.loginBox input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.buttonBox {
    text-align: center;
    padding: 20px;
}

.buttonBox input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.buttonBox a {
    color: #007bff;
    text-decoration: none;
}
input[type="email"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
