<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href= "@{/loginStyle.css}" href="../static/loginStyle.css"/>
</head>
<body>

    <div class="mainBox">
        <div class="loginBox">
            Login <input id="loginInput" placeholder="Enter Login..."> <br>
            Password<input id="passwordInput" placeholder="Enter password..."><br>
        </div>
        <div class="buttonBox">
            <button>Registration</button>
            <br>
            Have an account? <a>Log in</a>
        </div>
    </div>
</body>
</html>
