<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href= "@{/loginStyle.css}" href="../static/loginStyle.css"/>
</head>
<body>
<form action="/login" method="post">
    <div class="mainBox">
        <div class="loginBox">
            Email <input type="email" name="email" id="loginInput" placeholder="Enter Login..."> <br>
            Password<input type="password" name="password" id="passwordInput" placeholder="Enter password..."><br>
        </div>
        <div class="buttonBox">
            <input type="submit" value="Log In">
            <br>
            Don't have an account? <a th:href="@{/registration}">Registrate</a>
        </div>
    </div>
</form>
</body>
</html>
