<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href= "@{/registrationStyle.css}" href="../static/registrationStyle.css"/>

</head>
<body>
<div class="container">
    <h2>Registration Form</h2>
    <h5 id="error_message" th:if="${error!=null}" th:text="${error}"></h5>
    <form action="/registration" method="post" >
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>

        <input type="submit" value="Register">
        <br>
        Have an account? <a th:href= "@{/login}">Log in!</a>
    </form>
</div>
</body>
</html>
</html>